/* * {
  border: 1px solid red;
} */

/* ====== Fonts ====== */

@font-face {
  font-family: "IkarosLight";
  src: url(./fonts/Ikaros-Light.otf);
}

@font-face {
  font-family: "IkarosRegular";
  src: url(./fonts/Ikaros-Regular.otf);
}

@font-face {
  font-family: "Prisma";
  src: url(./fonts/Prisma.ttf);
}

@font-face {
  font-family: "Cassanet";
  src: url(./fonts/Cassanet.ttf);
}

@font-face {
  font-family: "Exodus";
  src: url(./fonts/Exodus.otf);
}

.collapsible-header {
  line-height: 3.1em;
}

.collapsible-body {
  background: #395463;
  color: white;
  border: none;
  letter-spacing: 0.1em;
}

/* ==== SURVEY FEEDBACK Component ==== */
.center {
  text-align: center;
}

#textHeader {
  margin: 0 10%;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0.07em;
  font-size: 34px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
}

/* ==== LANDING Component ==== */
.collapsible-header:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#smile {
  color: white;
  margin-top: 150px;
}

/* ==== DASHBOARD Component ==== */

/* Changing background color behind Modals */
div.ReactModal__Overlay--after-open {
  background-color: rgba(1, 1, 1, 0.85) !important;
}

div.ReactModal__Content--after-open {
  border: 1px solid rgba(1, 1, 1, 0.6) !important;
}

/* == Survey List == */
/* Material Icon onHover */
.deleteSurveyIcon {
  transition: all 0.2s ease-in-out;
}
.deleteSurveyIcon:hover {
  color: rgb(357, 76, 68);
  cursor: pointer;
  transform: scale(1.3);
}

#addNewSurveyButton {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* ==== Delete Survey Modal Dialog ====  */
#deleteSurveyButton {
  background-color: #ec6f75;
  margin: 50px 100px;
  transition: all 0.2s ease-in-out;
}

#deleteSurveyButton:hover {
  transform: scale(1.1);
}

#deleteSurveyCancelButton {
  background-color: #e5e383;
  color: black;
  margin: 50px 100px;
  transition: all 0.2s ease-in-out;
}

#deleteSurveyCancelButton:hover {
  transform: scale(1.1);
}

#stopHand {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
}

/* ==== HEADER Component ==== */
.top-nav .payButton {
  margin-right: 18px;
}

.side-nav {
  text-align: center;
  background-color: rgba(1, 1, 1, 0.8);
}

.side-nav > * {
  margin: 15px 10px 0 10px;
  background-color: rgba(238, 110, 115, 0.75);
  border: 1px solid rgba(238, 110, 115, 0.5);
  border-radius: 10px;
}

.brand-logo {
  transition: all 0.2s ease-in-out;
}

.brand-logo:hover {
  transform: scale(1.15);
}

/* ====== Media Queries ====== */

@media (max-width: 1228px) {
  #textHeader {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  #deleteTitle {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  #deleteTitle {
    font-size: 1.5rem;
  }

  #textHeader {
    margin: 0 5%;
  }

  #deleteSurveyCancelButton {
    margin: 30px 30px;
  }

  #deleteSurveyButton {
    margin: 30px 30px;
  }

  #warnStatement {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  #textHeader {
    font-size: 22px;
    margin: 0 3%;
  }
}

@media (max-width: 450px) {
  #deleteTitle {
    font-size: 1.2rem;
  }

  #deleteSurveyCancelButton,
  #deleteSurveyButton {
    margin: 30px 0px;
  }

  #warnStatement {
    font-size: 14px;
  }

  #textHeader {
    font-size: 18px;
    margin: 0 5%;
  }
}

@media (max-width: 380px) {
  #deleteSurveyCancelButton,
  #deleteSurveyButton {
    margin: 30px 0px;
  }

  #textHeader {
    font-size: 12px;
  }
}
